Repository palumbamboo/se2-groupD, pull requests merged in 2019-11, with the labels that each got.

#1 Use Case Story 3 Narrative + dependencies
  documentation/use-cases/Story3-UseCaseNarrative.md
  studently-frontend/package.json
Labels: documentation

#4 Use case narrative for story #4
  .gitignore
  documentation/use-cases/Story4-UseCaseNarrative.md
Labels: documentation

#6 Updated database configuration file
  studently-backend/config/database.yml
Labels: Fix

#8 Fix cors
  studently-backend/.gitignore
  studently-backend/Gemfile
  studently-backend/Gemfile.lock
  studently-backend/config/initializers/cors.rb
Labels: Fix

#3 documentation/second-story-use-case
  documentation/use-cases/Story2-UseCaseNarrative.md
Labels: documentation

#5 Use case narrative for story #1
  documentation/use-cases/Story1-UseCaseNarrative.md
Labels: documentation

#10 Use case diagram for current sprint stories
  documentation/use-cases/Use case diagram - sprint #1.png
Labels: documentation

#9 Parent and Student models
  studently-backend/Gemfile
  studently-backend/Gemfile.lock
  studently-backend/app/models/parent.rb
  studently-backend/app/models/student.rb
  studently-backend/config/routes.rb
  studently-backend/db/migrate/20191110190544_add_parent.rb
  studently-backend/db/migrate/20191110190851_add_student.rb
  studently-backend/db/schema.rb
Labels: enhancement

#33 Feature/20191121 add parent for student
  .DS_Store
  app/controllers/students_controller.rb
  app/models/school_class.rb
  app/models/student.rb
  app/views/students/_form.html.erb
  app/views/students/index.html.erb
  config/routes.rb
  db/schema.rb
Labels: enhancement
